<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="{%url 'personapi'%}">Person</a>
    <a href="{%url 'grandfatherapi'%}">GrandFather</a>
    <a href="{%url 'grandmotherapi'%}">GrandMother</a>
    <a href="{%url 'fatherapi'%}">Father</a>
    <a href="{%url 'motherapi'%}">Mother</a>
    <a href="{%url 'sonapi'%}">Son</a>
    <a href="{%url 'daughterapi'%}">Daughter</a>
</body>
</html>